.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination__link {
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-decoration: none;
    color: #007bff;
  }
  
  .pagination__link--disabled {
    color: #ccc;
    pointer-events: none;
  }
  
  .pagination__link--active {
    background-color: #007bff;
    color: #fff;
  }